:root {
  --white-bone: #ededff;
  --grey-stone: #888888;
  --grey-wood: #696460;
  --grey-metallic: #3a4142;
  --grey-darker: #3e3e3e;
  --grey-asphalt: #1a1a1a;
  --yellow-lemon: #fdf039;
  --yellow-leaf: #cca011;
  --green-leaf: #29941f;
  --red-wood: #a32e1a;
}

.border {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
}

#userstories {
  margin-left: 5%;
}

form {
  padding: 5px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  margin-bottom: 5px;
}
